/*

Kylinna Williams
DES 157-001, Winter 2018
Studio 0: "styles.css"

*/

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.container {
  margin: auto;
  width: 800px;
}

h1 {
  color: #f46060;
  font-size: 40pt;
  padding-top: 20px;
  line-height: 48px;
}

h2 {
  font-size: 18pt;
  line-height: 40px;
}

h4 {
  font-size: 14pt;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  padding-bottom: 30px;
}

.source {
  font-size: 10pt;
}

header p {
  padding-bottom: 20px;
  line-height: 24px;
}

ol, ul {
  padding-left: 50px;
  padding-top: 10px;
  text-align: left;
}

ol, #portal-ul {
  height: 340px;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: disc;
}

li {
  font-weight: normal;
}

#col1, #col2, #audience-col1, #audience-col2 {
  color: #280606;
  padding: 20px;
  width: 400px;
  float: left;
}

#col1, #audience-col1 {
  background-color: #ea4e4e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#col2, #audience-col2 {
  background-color: #e04848;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#audience-col1 ul, #audience-col2 ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#audience-col1 li, #audience-col2 li {
  font-size: 10pt;
}

#audience-col1 {
  width: 300px;
}

#audience-col2 {
  width: 500px;
}

#audience-col1, #audience-col2 {
  height: 400px;
  text-align: left;
}

#audience-col2 h2 {
  font-size: 38pt;
  margin: 0;
}

#audience-col2 h4 {
  font-size: 14pt;
  margin: 0;
}

#audience-col2 ul:first-child {
  padding-top: 50px;
}

.audience-ul {
  padding-bottom: 18px;
}

#audience-col1 ul:last-child, #audience-col2 ul:nth-child(4), #audience-col2 ul:nth-child(6) {
  list-style-type: disc;
  margin-left: 20px;
}

#jonah {
  max-width: 250px;
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

#content {
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: #e04848;
}

#content h2 {
  color: #280606;
  padding-bottom: 10px;
}

#content p {
  color: #280606;
  padding-top: 10px;
  font-weight: normal;
}

.not-main {
  padding-top: 25px;
  padding-bottom: 25px;
}

.not-main h1 {
  font-size: 45pt;
}

a {
  text-decoration: none;
  color: #280606;
}

a:hover {
  color: #F46060;
}

a:active {
  color: #FFFFFF;
}

p, footer a, li {
  font-size: 12pt;
}

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, .75);
  color: #280606;
}

article {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 75px;
}

article:last-child, article img {
  padding-bottom: 15px;
}

p, article p {
  text-align: center;
}

.left {
  text-align: left;
}
